    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="https://v3.bootcss.com/assets/js/vendor/holder.min.js"></script>
    
    <script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>